<!--
This html file contains the additional templating needed to produce
an index of blog posts.
It can be used as a jinja2 template with the following components:

    - sections
        - This is a dictionary where keys correspond to section labels
          and values correspond to dicts of blog posts references
        - The keys for the blog post references are the blog title
          and the values are the url

The resulting file will have a header for every section with a list
of corresponding blog posts
-->

{% for sec, posts in sections.items() %}
<h1 id="{{ sec|lower|replace(' ', '_') }}">{{ sec }}</h1>
{% for title, url in posts.items() %}
<ul>
<li><a href="{{ url }}">{{ title }}</a></li>
</ul>
{% endfor %}
{% endfor %}
